<div class="container">
  <div class="text-center">
    <h2>ABOUT</h2>
    <p class="py-5" style="line-height:40px;">
      このサイトは照明好きのための写真投稿サイトです。<br/>
      趣味・仕事・暇つぶしもにご活用ください。<br/>
      閲覧はどなたでもしていただけますが、投稿にはログインが必要です。
    </p>
  </div>
  
  <div id="about" class="d-flex justify-content-center pt-5">
      <p class="pr-4"><%= link_to "articles", posts_path %></p>
      <p class="pr-4"><%= link_to "top", root_path %></p>
      <p class="pr-4"><%= link_to "login", new_user_session_path %></p>
  </div>
</div>
