<div class = "container">

  <%= render "searches/form_tag_search", tags: @tags %>

  <h2><i class="fas fa-tag"></i><%= @tag.name %></h2>

  <%= render "posts/post_index", posts: @posts %>
  <div class="my-5 ml-auto">
    <%= paginate(@posts) %>
  </div>

</div>
